body {
  background: url("https://i.ibb.co/wKHZV92/pantalla1.jpg");
  background-repeat: no-repeat;
      background-size: 100vw 100vh;
      background-attachment: fixed;
      margin: 0;
}
h1{
  font-family: open sans;
font-style: verdana;
color: #fff;
}
p{
  font-family: open sans;
font-style: verdana;
color: #fff;
}
#description{
  color: #fff;
  font-size: 17px;
  min-height: 80px;
max-height: 500px;
width: 600px;
background: rgba(0, 0, 0, 0.5);
box-sizing: border-box;
border: none;
border-radius: 7px;
text-align: center
}

#role {
  background: #2C0C40;
color: #fff;
padding: 10px;
border-radius: 7px;
position:absolute;
left: 25%;
bottom: 20%;
}

#statistics{
  background: #2C0C40;
color: #fff;
padding: 10px;
border-radius: 7px;
position:absolute;
right: 20%;
bottom: 20%;
}
