
.home {
  background: url("https://i.ibb.co/wKHZV92/pantalla1.jpg");
  background-repeat: no-repeat;
  background-size:100% 100%;
      background-attachment: fixed;
      margin: 0;
}
body{
  background: black;
}

h1{
  font-family: open sans;
font-style: verdana;
color: #fff;
}
p{
  font-family: open sans;
font-style: verdana;
color: #fff;
}
#description{
  color: #fff;
  font-size: 17px;
  min-height: 80px;
max-height: 500px;
width: 600px;
background: rgba(0, 0, 0, 0.5);
box-sizing: border-box;
border: none;
border-radius: 7px;
text-align: center
}

#role {
  background: #2C0C40;
color: #fff;
padding: 10px;
border-radius: 7px;
position:absolute;
left: 25%;
bottom: 20%;
}

#statistics{
  background: #2C0C40;
color: #fff;
padding: 10px;
border-radius: 7px;
position:absolute;
right: 20%;
bottom: 20%;
}
/*
 ul{
display: flex;
font-size:0;
padding-left: 28%;
 }

li,  {
  line-height: 0;
}
button{
  padding: 4px 50px;
}
*/
/*.btnRole {
  display: inline;
  float: left;
  font-size:15px;
    line-height: 0;
    width: 33%;
    height: 100%;
  background: nome;

 }*/

 .btnRole {
  line-height: 50px;
  width: 435px;
  height: 310px;
  color: white;
  background-size: cover;
  /* <-- escalar la imagen para cubrir el boton */
  background-position: center center;
  /* <-- centrar la imagen en el boton */
}

.container{
  display: inline;
  float: left;
  font-size:15px;
    line-height: 0;
    width: 20%;
    height: 100%;
}
 .card {
   box-shadow: 0 4px 8px 0 rgba(88, 74, 74, 0.2);
   max-width: 300px;
   margin: auto;
   text-align: center;
   font-family: arial;

 }

 .title {
   color: black;
   font-size: 18px;
 }

 button {
   border: none;
   outline: 0;
   display: inline-block;
   padding: 8px;
   color: white;
   background-color: #000;
   text-align: center;
   cursor: pointer;
   width: 100%;
   font-size: 18px;
 }